# ==========================
# Python
# ==========================
.venv/
__pycache__/
*.py[cod]

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# VSCode
# ==========================
.vscode/

# ==========================
# Environment
# ==========================
.env

# ==========================
# Outputs
# ==========================
outputs/
*.log

# ==========================
# Competition Raw Data
# ==========================
data/raw/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db